body {
  margin: 0 auto;
  padding: 0;
  font-family: sans-serif;
  background-color: orange;
}

h1 {
  text-align: center;
}
/*h2 {
  transform:rotate(-90deg);
}*/

.headerWrapper {
  display: flex;
  flex-direction: row;
  margin: 4%;
}
.headerLeft {
  width: 50%;
}
.headerLeft h1 {
  font-size: 90%;
  color: white;
}
.headerRight p {
  color: orange;
}
.headerRight {
  width: 50%;
  background-color: white;
}
/*.caloricGoal {
  background-color: white;
  width: 100%;
  height: 100%;
}*/

.MealPlan {
  background-color: white;
  padding: 5px;
}

.Meal {
  background-color: white;
  border: 3px solid rgba(255,165,0,0.6);
  border-radius: 10px;
  margin: 10px;
  padding: 5px;
}

.Meal h2 {
  color: rgba(186,102,0,1);
}

.Meal ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.ProgressBar {
  background-color: white;
  padding: 12px;
}

.ProgressBar h2 {
  color: rgba(186,102,0,1);
}

#ProgressBar {
  background-color: orange;
}

/*iPad/tablet CSS*/
@media screen and (min-width: 768px) {
  body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: blue;
  }

  h1 {
    text-align: center;
  }

  div {
    width:
  }
}

/*standard PC CSS*/
@media screen and (min-width: 1024px) {
  body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: green;
  }

  h1 {
    text-align: center;
  }

  div {
    width:
  }
}
