body {
  margin: 0 auto;
  padding: 0;
  font-family: 'Lato', sans-serif;
  background-color: orange;
}

header {
  border-bottom: 3px
}

h1 {
  text-align: center;
}
/*h2 {
  transform:rotate(-90deg);
}*/

.logoLogin {
  width: 250px;
  height: auto;
  margin-top: 12px;
}

.logoHomePage {
  width: 250px;
  height: auto;
}

.App {
}

nav {
  text-align: center;
  padding-top: 10px;
}

.KnowYourCals {
  text-align: center;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: turquoise;
}

.LoginView {
  display: block;
  text-align: center;
  margin-top: 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid black;
}

.progressPercentage {
  display: flex;
  justify-content: center;
}

.AppView {
  /*display: none;*/
}

.LoginContainer {
  display: block;
  text-align: center;
  margin-top: 10px;
}

.LoginForm {
  background-color: white;
  border-radius: 10px;
  width: 70vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  padding: 10px 0px;
  box-shadow: 5px 5px 25px #424242;
}

.Welcome-message {
  text-align: center;
}

li {
  list-style: none;
}

input {
  margin-left: 5px;
  font-size: 1rem;
  font-family: 'Lato', sans-serif;
  border: none;
  border-bottom: 1px solid lightgray;
  padding: 10px;
  border-radius: 10px;
  width: 20vw;
}

input:focus {
  background-color: rgba(254,200,126,1);
}

option {
  font-size: 12px;
  font-family: 'Lato', sans-serif;
}

button {
  font-size: 12px;
  font-family: 'Lato', sans-serif;
}

button:hover {
  background-color: rgba(182,100,24,1);
}

.FoodFormButton {
  display: inline;
}

.headerWrapper {
  display: flex;
  flex-direction: row;
  margin: 4%;
}

.headerLeft {
  width: 50%;
}

.headerLeft h1 {
  font-size: 90%;
  color: white;
}

.headerRight {
  width: 50%;
  color: orange;
  background-color: white;
}

/*.calorieGoal {
  background-color: white;
  width: 100%;
  height: 100%;
}*/

.progressBarLabels {
  display: flex;
  justify-content: space-between;
  padding: 0px 5px;
}

.calorieGoal input {
  height: 50%;
  border: 0;
  border-radius: 10px
}

.MealPlan {
  background-color: white;
  padding: 5px 0px;
}

.Meal {
  background-color: rgba(255,165,0,0.6);
  border: 3px solid rgba(255,165,0,0.6);
  border-radius: 10px;
  margin: 10px 0px;
  text-align: center;
}

.Meal button {
  background-color: rgba(186,102,0,1);
  color: white;
  border: 0;
}

.Meal h2 {
  color: rgba(186,102,0,1);
  padding: 8px;
  display: inline-block;
}

.Meal input {
  background-color: rgba(255,165,0,0.6);
  color: rgba(186,102,0,1);
  border: 0;
  text-align: right;
  font-style: Arial;
  margin: 5px;
  border-radius: 10px
}

.Meal input::placeholder {
  color: rgba(186,102,0,1);
}

.Meal ul {
  list-style-type: none;
  font-size: 1rem;
  margin: 0;
  padding: 5px;
  background-color: white;
  border-radius: 10px;
}

li {
  padding: 3px;
}

.ProgressBar {
  background-color: white;
  padding: 12px;
  margin-top: 0%
}

.progressBarText {
  text-align: center;
}

.ProgressBar h2 {
  color: rgba(186,102,0,1);
  text-align: center;
}

.ProgressBar progress {
  color: orange;
  height: 10px;
  width: 100%;
}

.FoodForm {
  /*text-align: center;
  display: flex;*/
}

.foodFormContainer {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.CalorieGoalForm {
  display: flex;
  justify-content: center;
}

button {
  margin-left: 5px;
}

.Footer {
  text-align: center;
  padding: 20px;
  background-color: white;
  background-color: rgba(255,165,0,0.6);
}

img {
  /*background-color: lightgray;
  border-radius: 20px;*/
}

.AttributionLink {
  width: 150px;
  height: auto;
}
.Footer {
  background-color: white;
}

a.delete {
  color: red;
}
.targetLink {
  font-size: 1rem;
}

.MealSelectContainer {
  display: flex;
  justify-content: center;
}

.calorieCalculatorLink {
  font-size: 20px;
}

/*iPad/tablet CSS*/
@media screen and (min-width: 768px) {
  body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
  }

  h1 {
    text-align: center;
  }

  .AttributionLink {
    width: 200px;
    height: auto;
  }

  .LoginForm {
    background-color: white;
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 0px;
  }
  .ProgressBar {
    margin-top: 0%
  }

  .Meal {
    background-color: rgba(255,165,0,0.6);
    border: 3px solid rgba(255,165,0,0.6);
    border-radius: 10px;
    margin: 10px 10px;
    /*width: 40vw;*/
  }

  .MealPlan {
    background-color: white;
    padding: 5px;
    /*display: flex;*/
  }
}

/*standard PC CSS*/
@media screen and (min-width: 1024px) {
  body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
  }

  h1 {
    text-align: center;
  }
  .AttributionLink {
    width: inherit;
    height: auto;
  }
  h3.Welcome-Message {
    font-size: 2rem;
  }
  .LoginForm {
    background-color: white;
    width: 40vw;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 0px;
  }

  .Meal {
    background-color: rgba(255,165,0,0.6);
    border: 3px solid rgba(255,165,0,0.6);
    border-radius: 10px;
    margin: 10px 10px;
    width: 40vw;
  }

  .MealPlan {
    background-color: white;
    padding: 5px;
    display: flex;
  }
  .CalorieGoalForm {
    display: flex;
    flex-flow: row;
  }

  .foodFormContainer {
    display: flex;
    flex-flow: row;
  }
  /*canvas.chartjs-render-monitor {
    display: inline-block;
    height: 380px !important;
    width: 840px !important;
    margin: 0;
  }*/
  .ProgressBar {
    margin-top: 0%
  }

  button {
    border-radius: 10px;
    background-color: green;
    color: #fff;
    overflow: hidden;

    border: none;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    padding: 10px 40px;
    display: inline-block;
    margin: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }

  button:active {
    background-color: aqua;
  }

  button.delete {
    background-color: red;
    padding: 5px;
    border-radius: 5px;
    margin: 0px;
    letter-spacing: 0px;
  }

  select {
    -webkit-appearance: button;
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-padding-end: 20px;
    -webkit-padding-start: 2px;
    -webkit-user-select: none;
    background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
    background-position: 95% center;
    background-repeat: no-repeat;
    border: 1px solid #AAA;
    border-radius: 10px;
    color: #555;
    font-size: inherit;
    margin: 20px;
    overflow: hidden;
    padding: 5px 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 200px;
  }

}
