body {
  margin: 0 auto;
  padding: 0;
  font-family: 'Lato', sans-serif;
  background-color: orange;
}

h1 {
  text-align: center;
}
/*h2 {
  transform:rotate(-90deg);
}*/

.App {
}

nav {
  text-align: center;
  padding-top: 10px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: turquoise;
}

.LoginView {
  display: block;
  text-align: center;
  margin-top: 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid black;
}

.progressPercentage {
  display: flex;
  justify-content: center;
}

.AppView {
  /*display: none;*/
}

.LoginContainer {
  display: block;
  text-align: center;
  margin-top: 10px;
}

.LoginForm {
  background-color: white;
  width: 70vw;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 0px;
}

.Welcome-message {
  text-align: center;
}

li {
  list-style: none;
}

input {
  margin-left: 5px;
  font-size: 12px;
  font-family: 'Lato', sans-serif;
}

input:focus {
  background-color: rgba(254,200,126,1);
}

option {
  font-size: 12px;
  font-family: 'Lato', sans-serif;
}

button {
  font-size: 12px;
  font-family: 'Lato', sans-serif;
}

button:hover {
  background-color: rgba(182,100,24,1);
}

.headerWrapper {
  display: flex;
  flex-direction: row;
  margin: 4%;
}

.headerLeft {
  width: 50%;
}

.headerLeft h1 {
  font-size: 90%;
  color: white;
}

.headerRight {
  width: 50%;
  color: orange;
  background-color: white;
}

/*.calorieGoal {
  background-color: white;
  width: 100%;
  height: 100%;
}*/

.progressBarLabels {
  display: flex;
  justify-content: space-between;
  padding: 0px 5px;
}

.calorieGoal input {
  height: 50%;
  border: 0;
}
.MealPlan {
  background-color: white;
  padding: 5px;
}

.Meal {
  background-color: rgba(255,165,0,0.6);
  border: 3px solid rgba(255,165,0,0.6);
  border-radius: 10px;
  margin: 10px 50px;

}

.Meal button {
  background-color: rgba(186,102,0,1);
  color: white;
  border: 0;
}

.Meal h2 {
  color: rgba(186,102,0,1);
  padding: 8px;
  display: inline-block;
}

.Meal input {
  background-color: rgba(255,165,0,0.6);
  color: rgba(186,102,0,1);
  border: 0;
  text-align: right;
  font-style: Arial;
  margin: 5px;
}

.Meal input::placeholder {
  color: rgba(186,102,0,1);
}

.Meal ul {
  list-style-type: none;
  font-size: 12px;
  margin: 0;
  padding: 5px;
  background-color: white;
  border-radius: 10px;
}

li {
  padding: 3px;
}

.ProgressBar {
  background-color: white;
  padding: 12px;
}

.progressBarText {
  text-align: center;
}

.ProgressBar h2 {
  color: rgba(186,102,0,1);
}

.ProgressBar progress {
  color: orange;
  height: 10px;
  width: 100%;
}

.FoodForm {
  text-align: center;
  display: flex;
}

.foodFormContainer {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.CalorieGoalForm {
  display: flex;
  justify-content: center;
}

button {
  margin-left: 5px;
}

.Footer {
  text-align: center;
  padding: 20px;
  background-color: white;
  background-color: rgba(255,165,0,0.6);
}

img {
  background-color: lightgray;
  border-radius: 20px;
}

.AttributionLink {
  width: 150px;
  height: auto;
}
.Footer {
  background-color: white;
}

a.delete {
  color: red;
}
.targetLink {
  font-size: 10px;
}

/*iPad/tablet CSS*/
@media screen and (min-width: 768px) {
  body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
  }

  h1 {
    text-align: center;
  }

  .AttributionLink {
    width: 200px;
    height: auto;
  }

  .LoginForm {
    background-color: white;
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 0px;
  }

}

/*standard PC CSS*/
@media screen and (min-width: 1024px) {
  body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
  }

  h1 {
    text-align: center;
  }

  .AttributionLink {
    width: inherit;
    height: auto;
  }

  .LoginForm {
    background-color: white;
    width: 40vw;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 0px;
  }
}
